
(% extends "layout.html" %)

(% block content %)

        <div class="container-fluid">
            <br>
            <br>
            <div class="row">
              <div class="col-sm"></div>
              <div class="col-sm text-center">
                  <h2>GNPS Classic Molecular Networking Analysis, Superquick Start</h2>
              </div>
              <div class="col-sm"></div>
            </div>

            <br>
            <div class="row">
              <div class="col-sm"></div>
              <div class="col-sm">
                      <p>
                        Drag and drop mzXML/mzML files here to quickly run a molecular network with up to 3 cohorts of samples. It is limited to 50 maximum spectrum files with each file limited to 200MB. Data uploaded will be removed on a monthly basis. Please create your own account for more persistent analyses.
                        <br>
                        <br>
                        NOTE: This interface is meant to process a small cohort of samples. If your internet is slow/unstable, we recommend the traditional method of uploading/running (see Documentation).
                      </p>
              </div>
              <div class="col-sm"></div>
            </div>

            <hr>

            <div class="row">
              <div class="col-sm"></div>
              <div class="col-sm">
                  <div class="text-center" >
                      <h3> Optional Notification Email </h3>
                      <input type="text" class="form-control" name="email" id="email" placeholder="Enter Your Email for Notification on Completion">
                      <hr>
                      <h3> Optional GNPS Login Credentials </h3>
                      <input type="text" class="form-control" name="username" id="username" placeholder="Enter Your GNPS Username">
                      <br>
                      <input type="password" class="form-control" name="password" id="password" placeholder="Enter Your GNPS Password">
                      <hr>
                      <button id="analyzebutton" class="btn btn-primary" onclick="analyzeNetworking()" >Analyze Uploaded Files with GNPS Molecular Networking </button>
                  </div>
              </div>
              <div class="col-sm"></div>
            </div>

            <hr>

            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="exampleFormControlInput2">Networking Parameters Preset</label>
                        <select class="form-control" name="networkingpreset" id="networkingpreset">
                            <option value="HIGHRES">High Resolution</option>
                            <option value="LOWRES">Low Resolution</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm">
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="dropzone col-md" id="group1">
                    <div class="dz-message">Drop files here or click to upload to Cohort Group 1 <br> (Files Required)
                    </div>
                </div>
                <div class="dropzone col-md" id="group2">
                    <div class="dz-message">Drop files here or click to upload to Cohort Group 2
                    </div>
                </div>
                <div class="dropzone col-md" id="group3">
                    <div class="dz-message">Drop files here or click to upload to Cohort Group 3
                    </div>
                </div>
            </div>
        </div>

        <script>
            // url = window.location.href
            // if (url.substr(-1) != '/'){
            //     url += '/';
            //     window.location.replace(url);
            // }


            group1dropzone = new Dropzone("#group1", { url: "upload1", maxFilesize: 200, parallelUploads:1, timeout: 300000});
            group2dropzone = new Dropzone("#group2", { url: "upload2", maxFilesize: 200, parallelUploads:1, timeout: 300000});
            group3dropzone = new Dropzone("#group3", { url: "upload3", maxFilesize: 200, parallelUploads:1, timeout: 300000});

            function analyzeNetworking() {
                $("#analyzebutton").html("<i class='fa fa-spinner fa-spin '></i> Processing")

                email = $("#email").val()
                username = $("#username").val()
                password = $("#password").val()

                $.ajax({
                url: 'analyze',
                type: 'POST',
                data: {"email": email, "username": username, "password": password, "networkingpreset": $("#networkingpreset").val()},
                dataType: "json",
                success: function(response) {
                    remote_url = "https://gnps.ucsd.edu/ProteoSAFe/status.jsp?task=" + response["task_id"]
                    window.location.assign(remote_url);
                },
                error: function(error) {
                    alert(error["responseJSON"]["status"])
                    $("#analyzebutton").html("Analyze Uploaded Files with GNPS Molecular Networking")
                }
            });

            }
        </script>


(% endblock %)
